body{
    background-color: black;
}

.h2{
    position: relative;
    margin-top: 50px;
}
.row{
    color: white;
    
}
.posters{
    display: flex;
    padding: 20px;
    flex-direction: column;

}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    cursor: pointer;
    max-height:245px;
    margin-right: 10px;
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}
.poster:hover{
    transform: scale(1.1);
}
.smallPoster:hover{
    transform: scale(1.1);
}
.posterContainer {
    position: relative;
    display: inline-block; 
    margin: 5px; 
  }
  .delete {
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 25px;
    padding: 5px;
    z-index: 1;
  }
  .delete:hover{
    transform: scale(1.5);
  }