.navbar{
    
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: none;
    
    
}
.logo{
   
    width: 150px;
    left: 200px;
 
}
.avatar{
    position: fixed;
    width: 30px;
    right:20px;
    margin-top: 10px;
}
@media(max-width: 576px) {

    .logo{
   
        width: 130px;
        padding-left: 30px;
     
    }
    .navbar-toggler-icon{
        color: white;
        border-color: white;
    }
}
