.navbar{
    
    background-color: transparent;
    background: none;
    color: white;
    
}
.logo{
   
    width: 150px;
    left: 200px;
    
 
}
.link{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.flink{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    
}
.fbtn{
    position: relative;
    margin-left: 900px;
}
.fbtn2{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

@media(max-width: 576px) {

    .logo{
   
        width: 130px;
        padding-left: 30px;
     
    }
    .navbar-toggler-icon{
        color: white;
        border-color: white;
    }
}
