.row{
    
    color: white;
    
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    cursor: pointer;
    max-height:250px;
    margin-right: 10px;
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}
.poster:hover{
    transform: scale(1.1);
}
.smallPoster:hover{
    transform: scale(1.1);
}
.poster-container {
    position: relative;
    display: inline-block; 
    margin: 5px; 
  }
  
  .favorite {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    padding: 5px;
    z-index: 1;
  }
  .favorite:hover{
    transform: scale(1.5);
  }
  .poster-container:hover .favorite {
    transform: scale(1.2);
}