.banner{
   
    background-size: cover;
    height: 600px;
    color: white;
}

.content{
    padding-left: 15px;
    padding-top: 180px;
    height: 190px;
    text-align: left;
}
.title{
    font-size: 3rem;
    font-weight:bold;
    padding-bottom: 0.3rem;
}
.banner-buttons{

}
.button{
    margin-right: 1rem;
    border: none;
    color: white;
    border-radius: 0.3em;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,.9);
}
.button:hover{
    background-color: white;
    color: black;
}
.discription{
    padding-top: 1rem;
    width:45rem;
    font-size: 1rem;
    max-width: 360px;
    line-height: 1.3;
    height:80px;
    text-align: center;
}
.fade-bottom{
    height: 410px;
    background-image: linear-gradient(180deg,transparent,rgba(16, 15, 15, 0.61),#111);

}
@media (max-width: 576px) {
    .banner {
      height: 350px; /* Adjust the height for mobile screens */  
    }
  
    .content {
      padding-left: 10px;
      padding-top: 100px;
      height: auto;
    }
  
    .title {
      font-size: 2rem; /* Adjust the font size for mobile screens */
    }
  
    .button {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .description {
        font-size: 1rem;
      width: 100%;
      max-width: none;
      height: auto;
    }
  
    .fade-bottom {
      height: 200px; /* Adjust the height for mobile screens */
    }
    .youtube-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio for the video */
        height: 0;
        overflow: hidden;
      }
    
      .youtube-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  }